<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h1>Usuários:</h1>

    <ul>

    </ul>

    {% for user in users %}
        <li> {{ user.id }} - {{ user.name }}
            <a href="{% url 'edit' user.id %}">
                Editar
            </a>
            <a href="{% url 'delete' user.id %}">
                Deletar
            </a>
        </li>
    {% endfor %}

    <div>
        <h3>Registre um usuário:</h3>
        <form action="{% url 'save' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="email" placeholder="E-mail">
            <input type="number" name="age" placeholder="Idade">
    
            <button type="submit">Registrar</button>
    
        </form>
    </div>
    
</body>
</html>